/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    color: black;
    text-align: center;
    font-family: 'Robot', sans-serif;
}

img {
    max-width: 90%;
}

/* ---- Navigation ---- */

a {
    color: #EBEBEB;
    background-color: #F45B69;
    text-decoration: none;
    padding: 10px 15px;
    margin-top: 10px;
    width: 100%;
    display: block;
    border-radius: 5px;
}

a:hover {
    color: #59C3C3;
}


/* ================================= 
  Base Element Styles - Classes
==================================== */

.profile-pic {
    max-width: 80%;
}

.intro {
    padding-bottom: 10px;
}

.title {
    padding-top: 1em;
    font-family: 'Nunito', sans-serif;
}

.subtitle {
    font-family: 'Nunito', sans-serif;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: #EBEBEB;
}

/* ---- Layout Containers ---- */

.container,
.main-container,
.main-skills {
    padding-left: 1em;
    padding-right: 1em;
}

.main-container,
.main-skills {
    background-color: #52489C;
    margin: 20px;
    color: #EBEBEB;
}

.main-header {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-bottom: 30px;
    background-color: #59C3C3;
}

.main-footer {
    display: inline-block;
    padding: 2em 1em;
    width: 100%;
}

.main-skills {
    text-align: center;
    width: 50%;
}

.skills {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding: 1em;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
    margin: 0;
}

/* ---- Layout Containers ---- */

.container,
.main-container {
    padding-left: 1em;
    padding-right: 1em;
}

.main-container {
    margin: 20px;
}

.main-header {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-bottom: 30px;
}

.main-footer {
    display: inline-block;
    padding: 2em 1em;
    width: 100%;
}

.footer-name {
    float: left;
    font-family: 'Nunito', sans-serif;
}

#backtotop {
    float: right;
}


.non-mobile {
    display: none;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

    /* ================================= 
  HEADER
==================================== */
    .intro {
        text-align: justify;
    }

    .main-nav,
    .main-nav li {
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
    }

    /* ================================= 
  LAYOUT COLUMNS
==================================== */
    .col1 {
        float: left;
        width: 50%;
    }

    .col2 {
        float: right;
        width: 50%;
    }

    .col3 {
        float: right;
        width: 50%;
    }

    .col4 {
        float: left;
        width: 50%;
        padding-left: 30px;
    }

    .col5 {
        float: left;
        width: 50%;
    }

    .col6 {
        float: right;
        width: 50%;
    }

    /* ================================= 
  FOOTER
==================================== */
    .footer-nav li {
        display: inline-block;
    }

    .footer-name {
        float: left;
        margin-top: 40px;
    }

    .footer-nav {
        float: right;
    }

    #backtotop {
        display: none;
    }

    /* ================================= 
  ELEMENTS
==================================== */

    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }
}

@media (min-width: 1200px) {

    /* ================================= 
  HEADER
==================================== */
    .name,
    .main-nav,
    .main-nav li,
    .footer-nav li {
        display: inline-block;
    }

    .name {
        float: left;
        margin-top: 15px;
        margin-left: 10px;
    }

    .main-nav {
        float: right;
    }



    /* ================================= 
  LAYOUT COLUMNS
==================================== */

    .col1,
    .col2 {
        width: 33.3%;
        float: left;
    }

    .col3,
    .col4 {
        display: inline;
    }

    /* ================================= 
FOOTER
==================================== */
    .footer-name {
        float: left;
        margin-top: 40px;
    }

    .footer-nav {
        float: right;
    }

    #backtotop {
        display: none;
    }

    /* ================================= 
ELEMENTS
==================================== */

    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }
